<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css')}}">

    <!-- <img src="{{ url_for('static', filename='img/logo1.jpeg')}}" alt="" class="img"> -->

    <!-- <title>Consultar Tutores</title> -->
    {% block titulo %}

      {% endblock %}

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
        <div class="container-fluid px-4">
          <a class="navbar-brand text-white" href="#">TREECKO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white">Menú</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/permiso/consultar">Mis permisos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Solicitar permiso
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/permiso/agregar">Solicitar permiso</a></li>
                  </ul>
              </li>

            </ul>
            <span class="navbar-text text-white">
              <!-- Navbar text with an inline element -->
              <button type="submit" class="btn btn-danger">Cerrar Sesion</button>
            </span>
          </div>
        </div>
      </nav>

      {% block content %}

      {% endblock %}
    
</body>
<!-- <script src="../static/dist/js/bootstrap.bundle.min.js"></script> -->
<link rel="stylesheet" href="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js')}}">

<!-- <script src="{{url_for('static', filename='script/busqueda.js')}}"></script> -->
<!-- <script src="../static/scripts/busqueda.js"></script> -->
</html>