<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
    <title>Agregar Tutor</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
        <div class="container-fluid px-4">
          <a class="navbar-brand text-white" href="#">TREECKO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white">Menú</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/alumnos/consultar">Alumnos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tutores
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/tutor/agregar">Agregar</a></li>
                    <li><a class="dropdown-item" href="/tutor/consultar">Consultar</a></li>
                  </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Directores
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/director/agregar">Agregar</a></li>
                    <li><a class="dropdown-item" href="/director/consultar">Consultar</a></li>
                  </ul>
              </li>

              
            </ul>
            <span class="navbar-text text-white">
              <!-- Navbar text with an inline element -->
              <button type="submit" class="btn btn-danger">Cerrar Sesion</button>
            </span>
          </div>
        </div>
      </nav>

      <!-- titulo -->
      <div class="container-fluid my-4 d-flex justify-content-center">
            <h2>Agregar Director</h2>
      </div>

      <!-- Formulario de registro de tutor -->
      <div class="container-fluid my-4 ">
      <form class="row g-3 px-5 py-3 bg-light rounded">
        <div class="col-md-6">
          <label for="inputNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control " id="inputNombre" name="inputNombre">
        </div>
        <div class="col-md-6">
          <label for="inputApellidos" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="inputApellidos" name="inputApellidos">
        </div>
        <div class="col-md-12">
            <label for="inputCorreo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="inputCorreo" name="inputCorreo">
          </div>
          <div class="col-md-12">
            <label for="inputUsername" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="inputUsername" name="inputUsername">
          </div>
          <div class="col-md-6">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword" name="inputPassword">
          </div>
          <div class="col-md-6">
            <label for="inputRepetPassword" class="form-label">Repetir contraseña:</label>
            <input type="password" class="form-control" id="inputRepetPassword" name="inputRepetPassword">
          </div>
          

          <div class="col-md-4">
            <label for="inputPeriodo" class="form-label">Periodo inicial</label>
            <select id="inputPeriodo" name="inputPeriodo" class="form-select">
              <option selected>Seleccionar periodo</option>
              <option>2023-A</option>
              <option>2023-B</option>
              <option>2023-C</option>
              
            </select>
          </div>

          <div class="col-md-4">
            <label for="inputPeriodof" class="form-label">Periodo Final</label>
            <select id="inputPeriodof" name="inputPeriodof" class="form-select">
              <option selected>Seleccionar periodo</option>
              <option>2023 A</option>
              <option>2023 B</option>
              <option>2023 C</option>
              
            </select>
          </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-success">Agregar</button>
        </div>
      </form>
      </div>


    
</body>
<script src="../static/dist/js/bootstrap.bundle.min.js"></script>
</html>