{% extends 'base/header_admin.html' %}

{% block titulo %}
<title>Agregar Tutor</title>
{% endblock %}


{% block content %}


      <!-- titulo -->
      <div class="container-fluid my-4 d-flex justify-content-center">
        <h2>Agregar Tutor</h2>
  </div>

  <!-- Formulario de registro de tutor -->
  <div class="container-fluid my-4 ">
  <form id="mytutor" class="row g-3 px-5 py-3 bg-light rounded" action="/tutor/add" method="post">
    
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <div class="col-md-6">
      <label for="inputNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control " id="inputNombre" name="inputNombre">
    </div>
    <div class="col-md-6">
      <label for="inputApellidos" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="inputApellidos" name="inputApellidos">
    </div>
    <div class="col-md-12">
        <label for="inputCorreo" class="form-label">Correo</label>
        <input type="email" class="form-control" id="inputCorreo" name="inputCorreo">
      </div>
      <div class="col-md-12">
        <label for="inputUsername" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="inputUsername" name="inputUsername">
      </div>
      <div class="col-md-6">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword" name="inputPassword">
      </div>
      <div class="col-md-6">
        <label for="inputRepetPassword" class="form-label">Repetir contraseña:</label>
        <input type="password" class="form-control" id="inputRepetPassword" name="inputRepetPassword">
      </div>
      <div class="col-md-4">
        <label for="inputDivision" class="form-label">Division</label>
        <select id="inputDivision" name="inputDivision" class="form-select">
          <option selected>Seleccionar division</option>
          <option value="tic">tic</option>
          <option>Agro</option>
          <option>Construccion</option>
          
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputCarrera" class="form-label">Carrera</label>
        <select id="inputCarrera" name="inputCarrera" class="form-select">
          <option selected>Seleccionar carrera</option>
          <option>DSM</option>
          <option>IRD</option>
          <option>EV</option>
          
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputGrupo" class="form-label">Grupo</label>
        <select id="inputGrupo" name="inputGrupo" class="form-select">
          <option selected>Seleccionar grupo</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          
        </select>
      </div>

      
    
    <div class="col-12">
      <button type="submit" class="btn btn-success">Agregar</button>
    </div>
  </form>
  </div>
  <!-- <script src="../static/scripts/validatefrom_addtutor.js"></script> -->

{% endblock %}