{% extends 'base/header_alumno.html' %}

{% block titulo %}
<title>Agregar permiso</title>
{% endblock %}

{% block content %}

      <!-- titulo -->
      <div class="container-fluid my-4 d-flex justify-content-center">
            <h2>Solicitar permiso</h2>
      </div>

      <!-- Formulario de registro de tutor -->
      <div class="container-fluid my-4 ">
        <form class="row g-3 px-5 py-3 bg-light rounded" action="/permiso/add" method="post" enctype="multipart/form-data">
  
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  
          <div class="col-md-4">
              <label for="inputMotivo" class="form-label">Motivo del permiso</label>
              <select id="inputMotivo" class="form-select" name="inputMotivo">
                <option selected>Elige Motivo</option>
                <option>Medico</option>
                <option>Personal</option>
                <option>Fuerzas mayores</option>
                
              </select>
            </div>
  
          <div class="col-md-12">
            <label for="inputDescripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control " id="inputDescripcion" name="inputDescripcion">
          </div>
  
          <div class="col-md-6">
            <label for="inputFechaInicial" class="form-label">Fecha de solicitud</label>
            <input type="date" class="form-control" id="inputFechaInicial" name="inputFechaInicial">
          </div>
  
          <div class="col-md-12">
              <label for="inputComprobante" class="form-label">Sube tu comprobante</label>
              <input type="file" class="form-control" id="inputComprobante" name="inputComprobante">
            </div>
            
          <div class="col-md-1">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>
  
          <div class="col-md-1">
            <button type="submit" class="btn btn-danger">Cancelar</button>
          </div>
        </form>
        </div>
      <script src="../static/scripts/validateform_addpermi.js"></script>

      {% endblock %}
      