{% extends 'base/header_admin.html' %}

      <!-- titulo -->

      {% block titulo %}
<title>Agregar Director</title>
{% endblock %}

{% block content %}
      <!-- Formulario de registro de tutor -->
      <div class="container-fluid my-4 ">
      <form id="mydirec" class="row g-3 px-5 py-3 bg-light rounded" action="/director/add" method="post">
        <div class="col-md-6">
          <label for="inputNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control " id="inputNombre" name="inputNombre">
        </div>
        <div class="col-md-6">
          <label for="inputApellidos" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="inputApellidos" name="inputApellidos">
        </div>
        <div class="col-md-12">
            <label for="inputCorreo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="inputCorreo" name="inputCorreo">
          </div>
          <div class="col-md-12">
            <label for="inputUsername" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="inputUsername" name="inputUsername">
          </div>
          <div class="col-md-6">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword" name="inputPassword">
          </div>
          <div class="col-md-6">
            <label for="inputRepetPassword" class="form-label">Repetir contraseña:</label>
            <input type="password" class="form-control" id="inputRepetPassword" name="inputRepetPassword">
          </div>
          

          <div class="col-md-4">
            <label for="inputPeriodo" class="form-label">Periodo inicial</label>
            <select id="inputPeriodo" name="inputPeriodo" class="form-select">
              <option selected>Seleccionar periodo</option>
              <option>2023-A</option>
              <option>2023-B</option>
              <option>2023-C</option>
              
            </select>
          </div>

          <div class="col-md-4">
            <label for="inputPeriodof" class="form-label">Periodo Final</label>
            <select id="inputPeriodof" name="inputPeriodof" class="form-select">
              <option selected>Seleccionar periodo</option>
              <option>2023 A</option>
              <option>2023 B</option>
              <option>2023 C</option>
              
            </select>
          </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-success">Agregar</button>
        </div>
      </form>
      </div>
<script src="../static/scripts/validatefrom_adddirec.js"></script>
      {% endblock %}