<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables/datatables.js') }}"></link> 
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></link>  -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    {% endblock %}


    <title>Document</title>
    {% block contenido %}
    {% endblock %}
</head>
<body>
    {% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datatables/datatables.js') }}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='datatables/Buttons-1.5.6/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datatables/JSZip-2.5.0/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datatables/pdfmake-0.1.36/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datatables/pdfmake-0.1.36/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='datatables/Buttons-1.5.6/js/buttons.html5.min.js') }}"></script>



    {% endblock %}
</body>


</html>