{% extends 'base/header_admin.html' %}

{% block titulo %}
<title>Consultar Alumno</title>
{% endblock %}

{% block contenido %}

      <!-- titulo -->
      <div class="container-fluid my-4 d-flex justify-content-center">
            <h2>Consultar Alumnos</h2>
      </div>

      <!-- Formulario de registro de tutor -->
      <div class="container my-4 ">
        <table class="table px-5" id="tablaAlumnos">
            <thead>
              <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Division</th>
                <th scope="col">Carrera</th>
                <th scope="col">Grupo</th>
                <th scope="col">Cuatrimestre</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>


              </tr>
            </thead>
            <tbody>
              {% for entry in entries %}
              <tr>

                <td>{{entry.nombre}}</td>
                <td>{{entry.apellidos}}</td>
                <td>{{entry.division}}</td>
                <td>{{entry.Carrera}}</td>
                <td>{{entry.grupo}}</td>
                <td>{{entry.Cuatrimestre_actual}}</td>
          <td><button type="submit" class="btn btn-success">Editar</button></td>
          <td><button type="submit" class="btn btn-danger">Eliminar</button></td>

          {% endfor %}
              </tr>

            </tbody>
          </table>
      </div>

      {% endblock %}

      {% block scripts %}
      {{ super() }}
        <script>
          $(document).ready(function() {
            $('#tablaAlumnos').DataTable( {
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'copyHtml5',
                      exportOptions: {
                        columns: [ 0, 1, 2, 3, 4 ]
                      }
                  },
                  {
                      extend: 'excelHtml5',
                      exportOptions: {
                        columns: [ 0, 1, 2, 3, 4 ]
                      }
                  },
                  {
                      extend: 'pdfHtml5',
                      exportOptions: {
                          columns: [ 0, 1, 2, 3, 4 ]
                      }
                  },
                  'colvis'
              ]
          } );
      } );
    
            
    
    
        </script>
    
      {% endblock %}

      
</body>
<script src="../static/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
</html>