<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
    <title>Consultar Tutores</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
        <div class="container-fluid px-4">
          <a class="navbar-brand text-white" href="#">TREECKO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white">Menú</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/alumnos/consultar">Alumnos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tutores
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/tutor/agregar">Agregar</a></li>
                    <li><a class="dropdown-item" href="/tutor/consultar">Consultar</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Directores
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/director/agregar">Agregar</a></li>
                    <li><a class="dropdown-item" href="/director/consultar">Consultar</a></li>
                  </ul>
              </li>

            </ul>
            <span class="navbar-text text-white">
              <!-- Navbar text with an inline element -->
              <button type="submit" class="btn btn-danger">Cerrar Sesion</button>
            </span>
          </div>
        </div>
      </nav>

      <!-- titulo -->
      <div class="container-fluid my-4 d-flex justify-content-center">
            <h2>Consultar Tutores</h2>
      </div>

      <div class="row g-3 px-5 py-3 bg-light rounded">
        <div class="col-md-4 mx-5">
          <label for="inputFiltro" class="form-label">Filtrar por:</label>
          <select id="inputFiltro" class="form-select">
            <option selected value="SF">Sin filtro</option>
            <option value="Periodo">Periodo</option>
            <option value="Division">Division</option>
            <option value="Carrera">Carrera</option>
            
          </select>
        </div>
  
        <div class="col-md-4 mx-5" id='filtrar'>
          
          
        </div>
        </div>
      

      <!-- Formulario de registro de tutor -->
      <div class="container-fluid my-4 ">
        <table class="table px-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Division</th>
                <th scope="col">Carrera</th>
                <th scope="col">Grupo</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>


              </tr>
            </thead>
            <tbody>
              {% for entry in entries %}
              <tr>
                <th scope="row">1</th>
                <td>{{ entry.nombre}}</td>
                <td>{{ entry.apellidos}}</td>
                <td>TIC</td>
                <td>DSM</td>
                <td>{{ entry.grupo}}</td>
          <td><button type="button" class="btn btn-success" >Editar</button></td>
          <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar">Eliminar</button></td>
          <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="eliminarLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="eliminarLabel">¿Desea eliminar al tutor?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
                </div>
                <div class="modal-body">
                  <P>Si elimina este registro nunca mas podra consultarlo</P>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger"  onclick="location.href=`/tutor/delete/{{entry.usuario}}/`">Eliminar</button>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
              </tr>

            </tbody>
          </table>
      </div>


    
</body>
<script src="../static/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="{{url_for('static', filename='script/busqueda.js')}}"></script> -->
<script src="../static/scripts/busqueda.js"></script>
</html>