<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">

    <title>Inicia sesion</title>
</head>

<div class="container">
  <div class="row align-items-center">
    <div class="col align-self-center">
      <img src="{{ url_for('static', filename='img/logo1.jpeg')}}" alt="" class="img">
    </div>
    <div class="col align-self-center">
      <form class="row g-3 px-5 py-3 bg-light rounded" action="/sesion/login" method="POST">
        <div class="">
          <label for="inputUsername" class="form-label">Nombre de usuario:</label>
          <input type="text" class="form-control "  id="inputUsername" name="inputUsername">
        </div>
        <div class="">
          <label for="inputPassw" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassw" name="inputPassw">
        </div>
        <div class="">
          <button type="submit" class="btn btn-success">Iniciar sesion</button>
        </div>
      </form>
    </div>

  </div>
</div>
    
</body>
<script src="../static/dist/js/bootstrap.bundle.min.js"></script>

</html>