{% extends 'base/header_alumno.html' %}

{% block titulo %}
<title>Mi permiso</title>
{% endblock %}

{% block content %}

      <!-- titulo -->
      <div class="container-fluid my-4 d-flex justify-content-center">
            <h2>Solicitar permiso</h2>
      </div>

      <!-- Formulario de registro de tutor -->
      <div class="container-fluid my-4 ">
      <form class="row g-3 px-5 py-3 bg-light rounded">
        <div class="col-md-4">
            <label for="inputMotivo" class="form-label">Motivo del permiso</label>
            <p>{{ entries.motivo }}</p>
          </div>

        <div class="col-md-12">
          <label for="inputDescripcion" class="form-label">Descripcion</label>
          <p>{{ entries.descripcion }}</p>
        </div>

        <div class="col-md-6">
          <label for="inputFechaInicial" class="form-label">Fecha solicitada</label>
          <!-- <input type="date" class="form-control" id="inputFechaInicial" value="jsvcer"> -->
          <p>{{ entries.fecha }}</p>
        </div>

        <div class="col-md-12">
            <label for="inputComprobante" class="form-label">Comprobante</label>
            <br>
            <!-- <input type="file" class="form-control" id="inputComprobante"> -->
        <!-- <img src="{{ imagen }}" alt="" class="img">
      <img src="{{ url_for('static', filename='uploads/Wall_e.jpg')}}" alt="" class="img"> -->
      <button type="submit" class="btn btn-success" onclick="location.href=`/permiso/descargar/comprobante/{{entries.comprobante}}/`">Descargar permiso</button>
            
          </div>
          
        <div class="col-2">
          <button type="submit" class="btn btn-success" onclick="location.href=`/permiso/tutor/show/revisado/{{entries.usuario}}/{{entries.fecha}}/`">Dar Visto Bueno</button>
        </div>

        <div class="col-2">
            <button type="submit" class="btn btn-danger">Dar Visto Bueno</button>
          </div>
      </form>
      </div>
{% endblock %}
    
