{% extends 'base/header_tutor.html' %}


<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css')}}">

{% block titulo %}
<title>Permisos Alumnos</title>
      {% endblock %}

{% block contenido %}
    <!-- titulo -->
    <div class="container-fluid my-4 d-flex justify-content-center">
        <h2>Permisos de Alumnos</h2>
    </div>



    <!-- Formulario de registro de tutor -->
    <div class="container my-4 px-4 ">
        <table class="table px-5" id="tablaPermisos">
            <thead>
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Vista tutor</th>
                    <th scope="col">Vista director</th>
                    <th scope="col">Ver Permisos</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ entry.motivo }}</td>
                    <td>{{ entry.descripcion}}</td>
                    <td>{{ entry.fecha}}</td>
                    <td>{{ entry.aprobacionTutor }}</td>
                    <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eliminar">Ver permiso</button></td>
                    <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="eliminarLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="eliminarLabel">Permiso de {{entry.usuario}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                          </div>
                          <div class="modal-body">
                            <P>Motivo: {{ entry.motivo }}</P><br>
                            <p>Descripcion: {{ entry.descripcion }}</p><br>
                            <p>Fecha solicitada: {{ entry.fecha }}</p><br>
                            <button type="submit" class="btn btn-success"  onclick="location.href=`/permiso/descargar/comprobante/{{entry.comprobante}}/`">Descargar comprobante</button>

                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"  onclick="location.href=`/permiso/tutor/show/{{entry.usuario}}/{{entry.fecha}}/Rechazado`">Rechazar</button>
                            <button type="submit" class="btn btn-success"  onclick="location.href=`/permiso/tutor/show/{{entry.usuario}}/{{entry.fecha}}/Revisado`">Dar visto bueno</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}


{% block scripts %}
  {{ super() }}
    <script>
      $(document).ready(function() {
        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function ( data, row, column, node ) {
                        // Strip $ from salary column to make it numeric
                        return column === 5 ?
                            data.replace( /[$,]/g, '' ) :
                            data;
                    }
                }
            }
        };


        $(function(){

          $.ajax({
            url: '/permiso/tutor/misalumnos',
            type:"GET",
            success: function(response){
              console.log("hola->",response)
              var hola = "hola como estas"
              $('#tablaPermisos').DataTable({
                pageLenght:10,
                "data":response["datos"],
                "columns":[
                  {"data": "usuario"},
                  {"data":"motivo"},
                  {"data":"aprobacionTutor"},
                  {"data":"aprobacionDirector"},
                  {"data":"permiso"}
                  
                ],

                dom: 'Bfrtip',
                buttons: [
                    $.extend( true, {}, buttonCommon, {
                        extend: 'copyHtml5'
                    } ),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'excelHtml5',
                        exportOptions: {
                          columns: [0, 1, 2, 3]
                        }
                    } ),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'pdfHtml5',
                        title: 'Permisos de mis tutorados',
                        exportOptions: {
                          columns: [0, 1, 2, 3]
                        }
                        
                    } )
                ]

              })
            }
          });
        });



      })
    </script>

  {% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js')}}">
