{% extends 'base/header_tutor.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css')}}">

{% block content %}
    <!-- titulo -->
    <div class="container-fluid my-4 d-flex justify-content-center">
        <h2>Permisos de Alumnos</h2>
    </div>

    <div>
        <form action="/tutor/find/filter" class="row g-3 px-5 py-3 bg-light rounded" method="">
            <div class="col-md-3 mx-5">
                <label for="" class="form-label">Filtrar por:</label>
                <select id="" class="form-select" name="inputFiltro">
                    <option selected value="SF">Sin filtro</option>
                    <option value="Division">Division</option>
                    <option value="Carrera">Carrera</option>

                </select>
            </div>

            <div class="col-md-3 mx-5" id='filtrar'>

            </div>
            <div class="col-md-2 mx-5" id="botonB">

            </div>
        </form>
    </div>


    <!-- Formulario de registro de tutor -->
    <div class="container-fluid my-4 px-4 ">
        <table class="table px-5" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Vista del tutor</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Ver Permisos</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ entry.motivo }}</td>
                    <td>{{ entry.descripcion}}</td>
                    <td>{{ entry.fecha}}</td>
                    <td>{{ entry.aprobacionTutor }}</td>
                    <td>{{ entry.aprobacionDirector }}</td>
                    <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eliminar">Ver permiso</button></td>
                    <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="eliminarLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="eliminarLabel">Permiso de {{entry.usuario}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                          </div>
                          <div class="modal-body">
                            <P>Motivo: {{ entry.motivo }}</P><br>
                            <p>Descripcion: {{ entry.descripcion }}</p><br>
                            <p>Fecha solicitada: {{ entry.fecha }}</p><br>
                            <p>Carrera: {{ entry.carrera }}</p><br>
                            <p>Vista del tutor: {{ entry.aprobacionTutor }}</p><br>


                            <button type="submit" class="btn btn-success"  onclick="location.href=`/permiso/descargar/comprobante/{{entry.comprobante}}/`">Descargar comprobante</button>

                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"  onclick="location.href=`/permiso/director/show/{{entry.carrera}}/{{entry.usuario}}/{{entry.fecha}}/Rechazado`">Rechazar</button>
                            <button type="submit" class="btn btn-success"  onclick="location.href=`/permiso/director/show/{{entry.carrera}}/{{entry.usuario}}/{{entry.fecha}}/Aprobado`">Dar visto bueno</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js')}}">
